.full-width {
    width: 100%;
  }
  
  .shipping-card {
    margin: 10px;
    padding: 0;
  }
  
  .mat-radio-button {
    display: inline-flex;
    margin-right: 10px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  
  .col:last-child {
    margin-right: 0;
  }
  
  .mat-form-field + .mat-form-field {
    margin-left: 1px;
  }
  
  .mat-accordion {
    margin-left: 0;
  }
  
  .expand .mat-expansion-panel-header-title,
  .expand .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .expand .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .grid-container {
    margin: 20px;
  }
  