<h1 mat-dialog-title>Solicitação de Atividade #{{atividade.id}}</h1>
<form name="form" [formGroup]='formularioAtividade'>
  <mat-form-field appearance="outline">
    <mat-label>Título do Projeto</mat-label>
    <input [(ngModel)]="atividade.projeto" formControlName="projeto" matInput placeholder="Projeto" readonly>
  </mat-form-field>
  <mat-form-field appearance="outline" style="width: 100px;">
    <mat-label>Hora Semanal</mat-label>
    <input [(ngModel)]="atividade.horaSemanal" formControlName="horaSemanal" matInput placeholder="Hora Semanal" readonly>
  </mat-form-field>
  <mat-form-field appearance="outline" style="width: 100px;"> 
    <mat-label>Hora Mensal</mat-label>
    <input [(ngModel)]="atividade.horaMensal" formControlName="horaMensal" matInput placeholder="Hora Mensal" readonly>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline" style="width: 100px;">
    <mat-label>Prazo (meses)</mat-label>
    <input [(ngModel)]="atividade.prazo" formControlName="prazo" matInput placeholder="Prazo" readonly>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Valor Bruto (R$)</mat-label>
    <input [(ngModel)]="atividade.valorBruto" formControlName="valor" matInput placeholder="Valor Bruto (R$)" readonly>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Data Inicio</mat-label>
    <input matInput placeholder="dd/MM/yyyy" readonly>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Data Fim</mat-label>
    <input matInput placeholder="dd/MM/yyyy" readonly>
  </mat-form-field>
</form>

<h1 mat-dialog-title>Docente</h1>

<form>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome Docente" readonly>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Total de Horas alocadas atual</mat-label>
        <input matInput placeholder="Nome Docente" readonly>
    </mat-form-field>
</form>


<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Fechar</button>
  <button mat-button (click)="onNoClick()" color="accent">Aprovar</button>
</div>

