<mat-toolbar color="primary">
    Gestão Extensão
</mat-toolbar>
<div
    style="width: 350px; position: absolute; text-align: center; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <mat-card style="width: 100%;" class="mat-elevation-z20">
        <h1><b>Gestão Extensão</b></h1>
        <h3>Login</h3>
        <form name="form" (ngSubmit)="f.form.valid" #f="ngForm">
            <div class="form-group">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Matricula</mat-label>
                    <input matInput type="text" placeholder="Matricula" [(ngModel)]="form.matricula" name="matricula"
                        #username="ngModel" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Password" [(ngModel)]="form.password" name="password"
                        #password="ngModel" required minlength="6" required>
                </mat-form-field>
                <button mat-button (click)="loadResetSenha()" style="margin-bottom: 20px;"> Esqueci minha senha</button>
            </div>
            <div class="form-group">
                <button mat-raised-button color="primary" (click)="onSubmit()" style="margin-right: 20px;"> Login
                </button>
                <button mat-raised-button color="warn" (click)="loadSignUp()"> Criar Conta </button>
            </div>
        </form>
    </mat-card>
</div>