<mat-toolbar color="primary">
    Gestão Extensão
</mat-toolbar>
<div
    style="width: 350px; position: absolute; text-align: center; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <mat-card style="width: 100%;" class="mat-elevation-z20">
        <h1><b>Resetar senha</b></h1>
        <form name="form" [formGroup]="formEmail">
            <div class="form-group">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Email</mat-label>
                    <input [(ngModel)]="senha.email" formControlName="email" matInput placeholder="Email" />
                </mat-form-field>
            </div>
            <div class="form-group">
                <button mat-raised-button color="primary" (click)="resetarSenha(senha)" style="margin-right: 20px;"> Enviar
                </button>
                <button mat-raised-button color="warn" (click)="loadLogin()"> Voltar </button>
            </div>
        </form>
    </mat-card>
</div>