<mat-toolbar color="primary">
  GAS - Gestão de Atividades Simultâneas  -  Criar Conta <span class="toolbar-spacer"> </span>
  <button mat-raised-button color="warn" (click) = "login()" >Login</button>
</mat-toolbar>
<mat-progress-bar
[mode]="'indeterminate'"
[color]="'warn'"
*ngIf="loading$ | async"
>
</mat-progress-bar>
<mat-grid-list cols="1">
  <div class="grid-container">
    <mat-vertical-stepper class="mat-elevation-z4" #stepper>
      <mat-step [stepControl]="formularioCadastro">
        <form [formGroup]="formularioCadastro" name="form" #f="ngForm">
          <ng-template matStepLabel>Username, email e senha</ng-template>
          <mat-form-field class="input-label" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" formControlName="usuario" id="username" required>
            <mat-error *ngIf="formularioCadastro.controls['usuario'].hasError('required')">
              Username <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="input-label" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="formularioCadastro.controls['email'].hasError('required')">
              Email <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="input-label" style="flex: auto; margin-left: 20px;" appearance="outline">
            <mat-label>Confirmar email</mat-label>
            <input matInput placeholder="Confirmar email" formControlName="emailConfirmacao" required>
            <mat-error *ngIf="formularioCadastro.controls.emailConfirmacao.errors?.equalTo">
              Erro ao confirmar email
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="input-label" style="flex: auto;" appearance="outline">
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="Senha" formControlName="senha" required>
            <mat-error *ngIf="formularioCadastro.controls['senha'].hasError('required')">
              Senha <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="input-label" style="flex: auto; margin-left: 20px;" appearance="outline">
            <mat-label>Confirmar senha</mat-label>
            <input type="password" matInput placeholder="Confirmar senha" formControlName="confirmarSenha" required>
            <mat-error *ngIf="formularioCadastro.controls.confirmarSenha.errors?.equalTo">
              Erro ao confirmar senha
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="formularioCadastro">
        <form [formGroup]="formularioCadastro" name="form" #f="ngForm">
          <ng-template matStepLabel>Dados pessoais</ng-template>
          <mat-form-field class="input-label" appearance="outline">
            <mat-label>Nome Completo</mat-label>
            <input matInput formControlName="nome_completo" placeholder="Nome Completo" required>
            <mat-error *ngIf="formularioCadastro.controls['nome_completo'].hasError('required')">
              Nome completo é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="telefone" placeholder="Ex. (DDD) 9XXXX-XXXX" [textMask] = "{mask: telefoneMascara}" required>
            <mat-error *ngIf="formularioCadastro.controls['telefone'].hasError('required')">
              Telefone <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input matInput [textMask] = "{mask: cpfMascara}" formControlName="cpf" placeholder="Ex. XXX.XXX.XXX-XX" required>
            <mat-error *ngIf="formularioCadastro.get('cpf').errors">
              CPF <strong>inválido</strong>
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Matricula</mat-label>
            <input matInput maxlength="6" formControlName="rf" placeholder="Matricula" required>
            <mat-error *ngIf="formularioCadastro.controls['rf'].hasError('required')">
              Matricula <strong>obrigatória</strong>
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Título</mat-label>
            <mat-select formControlName="titulo">
                <mat-option value="Nenhum">Nenhum</mat-option>
                <mat-option value="MS-3.1">MS-3.1</mat-option>
                <mat-option value="MS-3.2">MS-3.2</mat-option>
                <mat-option value="MS-5.1">MS-5.1</mat-option>
                <mat-option value="MS-5.2">MS-5.2</mat-option>
                <mat-option value="MS-5.3">MS-5.3</mat-option>
                <mat-option value="MS-6">MS-6</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        
          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>
     
      <mat-step>
        <ng-template matStepLabel>Finalizar</ng-template>
        <mat-error *ngIf="formularioCadastro.controls['usuario'].hasError('required')">Username <strong>obrigatório</strong> <button mat-button (click)="move(0)">Corrigir</button></mat-error>
        <mat-error *ngIf="formularioCadastro.controls['email'].hasError('required')">Email <strong>obrigatório</strong> <button mat-button (click)="move(0)">Corrigir</button></mat-error>
        <mat-error *ngIf="formularioCadastro.controls.emailConfirmacao.errors?.equalTo">Erro ao confirmar email <button mat-button (click)="move(0)">Corrigir</button></mat-error>
        <mat-error *ngIf="formularioCadastro.controls['senha'].hasError('required')">Senha <strong>obrigatório</strong> <button mat-button (click)="move(0)">Corrigir</button></mat-error>
        <mat-error *ngIf="formularioCadastro.controls.confirmarSenha.errors?.equalTo">Erro ao confirmar senha <button mat-button (click)="move(0)">Corrigir</button></mat-error>
        <mat-error *ngIf="formularioCadastro.controls['nome_completo'].hasError('required')">Nome completo <strong>obrigatório</strong> <button mat-button (click)="move(1)">Corrigir</button></mat-error>
        <mat-error *ngIf="formularioCadastro.controls['telefone'].hasError('required')">Telefone <strong>obrigatório</strong> <button mat-button (click)="move(1)">Corrigir</button></mat-error>
        <mat-error *ngIf="formularioCadastro.get('cpf').errors">CPF <strong>inválido</strong> <button mat-button (click)="move(1)">Corrigir</button></mat-error>
        <mat-error *ngIf="formularioCadastro.controls['rf'].hasError('required')">Matricula <strong>obrigatória</strong> <button mat-button (click)="move(1)">Corrigir</button></mat-error>   
        <br>      
        <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <button [disabled]="!formularioCadastro.valid" style="margin-left: 20px;" mat-raised-button color="warn" (click)="onSubmit(form)">Confirmar</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</mat-grid-list>
