<div class="grid-container">
  <h1 class="mat-h1">Submeter atividade</h1>
  <mat-card class="shipping-card">
    <mat-accordion class="expand">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title> Convênios </mat-panel-title>
          <mat-panel-description>
            Submeter atividades de convênios
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form name="form" [formGroup]="convenioForm" #f="ngForm">
          <mat-card class="mat-elevation-z0">
            <mat-card-content>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Titulo do Projeto</mat-label>
                    <input matInput placeholder="Titulo do Projeto" formControlName="projeto" />
                    <mat-error *ngIf="
                        convenioForm.controls['projeto'].hasError('required')
                      ">
                      Nome ou titulo do projeto <strong>obrigatório</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Instituição de Ensino</mat-label>
                    <input matInput placeholder="Instituição de Ensino" formControlName="instituicao" />
                    <mat-error *ngIf="
                        convenioForm.controls['instituicao'].hasError(
                          'required'
                        )
                      ">
                      Nome da instituição <strong>obrigatório</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Coordenador(a) </mat-label>
                    <input matInput placeholder="Coordenador(a)" formControlName="coordenador" />
                    <mat-error *ngIf="
                        convenioForm.controls['coordenador'].hasError(
                          'required'
                        )
                      ">
                      Nome do coordenador(a) <strong>obrigatório</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <mat-label style="margin-right: 20px">Participação em:
                </mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="tipoAtividadeSimultanea">
                  <mat-radio-button value="PESQUISA">Pesquisa</mat-radio-button>
                  <mat-radio-button value="ENSINO">Ensino</mat-radio-button>
                  <mat-radio-button value="EXTENSAO">Extensão</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Descrição</mat-label>
                    <input matInput placeholder="A participação no projeto consistirá de..."
                      formControlName="descricao" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Data Inicio</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dataInicio" placeholder="Selecionar data"
                      required />
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Data Fim</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="dataFim" placeholder="Selecionar data"
                      required />
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Valor bruto (R$)</mat-label>
                    <input matInput maxlength="5" min="0" placeholder="Valor bruto" type="number"
                      formControlName="valorBruto" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row" >
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline" matTooltip="Carga horária semanal" matTooltipPosition="right">
                    <mat-label>Qtd Horas semanais</mat-label>
                    <input matInput maxlength="5" min="1" placeholder="Carga horária semanal" type="number"
                      formControlName="horaSemanal"/>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Qtd Horas mensais</mat-label>
                    <input matInput maxlength="5" min="1" placeholder="Carga horária mensal" type="number"
                      formControlName="horaMensal" />
                  </mat-form-field>
                </div>
              </div>

              <h3>Alocação</h3>
              <div class="alocacao-row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre" min="1" max="2" type="number" formControlName="semestre" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano" type="number" formControlName="ano" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" max="2" placeholder="horasSolicitadas" type="number"
                      formControlName="horasSolicitadas" />
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra = !alocacaoExtra" *ngIf="!alocacaoExtra">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre1" min="1" max="2" type="number" formControlName="semestre1" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano1" type="number" formControlName="ano1" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas1" type="number"
                      formControlName="horasSolicitadas1" />
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra2 = !alocacaoExtra2" *ngIf="!alocacaoExtra2">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra = !alocacaoExtra">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra2">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre2" min="1" max="2" type="number" formControlName="semestre2" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano2" type="number" formControlName="ano2" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas2" type="number"
                      formControlName="horasSolicitadas2" />
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra3 = !alocacaoExtra3" *ngIf="!alocacaoExtra3">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra2 = !alocacaoExtra2">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra3">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre3" min="1" max="2" type="number" formControlName="semestre3" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano3" type="number" formControlName="ano3" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas3" type="number"
                      formControlName="horasSolicitadas3" />
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra4 = !alocacaoExtra4" *ngIf="!alocacaoExtra4">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra3 = !alocacaoExtra3">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra4">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre4" min="1" max="2" type="number" formControlName="semestre4" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano4" type="number" formControlName="ano4" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas4" type="number"
                      formControlName="horasSolicitadas4" />
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra5 = !alocacaoExtra5" *ngIf="!alocacaoExtra5">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra4 = !alocacaoExtra4">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra5">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre5" min="1" max="2" type="number" formControlName="semestre5" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano5" type="number" formControlName="ano5" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas5" type="number"
                      formControlName="horasSolicitadas5" />
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra5 = !alocacaoExtra5">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>


              <h3>Observações</h3>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Incluir observação</mat-label>
                    <textarea matInput formControlName="observacao"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" style="margin-bottom: 20px;">
                <div class="col">
                  <mat-slide-toggle formControlName="urgente">Urgente</mat-slide-toggle>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label class="btn btn-default">
                    <input type="file" (change)="selecionarArquivo($event)" />
                  </label>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button [disabled]="!convenioForm.valid" mat-raised-button color="primary"
                (click)="submeterConvenio(); convenioForm.reset()">
                Enviar
              </button>
            </mat-card-actions>
          </mat-card>
        </form>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title> Cursos </mat-panel-title>
          <mat-panel-description>
            Submeter atividades relacionadas ao cursos de extensão universitária
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form name="form" [formGroup]="cursoForm" #f="ngForm">
          <mat-card class="mat-elevation-z0">
            <mat-card-content>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nome do curso</mat-label>
                    <input matInput placeholder="Nome do curso" formControlName="nomeCurso" />
                    <mat-error *ngIf="
                        cursoForm.controls['nomeCurso'].hasError('required')
                      ">
                      Nome do curso <strong>obrigatório</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Instituição de Ensino</mat-label>
                    <input matInput placeholder="Instituição vinculada" formControlName="instituicaoVinculada" />
                    <mat-error *ngIf="
                        cursoForm.controls['instituicaoVinculada'].hasError(
                          'required'
                        )
                      ">
                      Nome da instituição <strong>obrigatório</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Coordenador(a) </mat-label>
                    <input matInput placeholder="Coordenador(a)" formControlName="coordenador" />
                    <mat-error *ngIf="
                        cursoForm.controls['coordenador'].hasError('required')
                      ">
                      Nome do coordenador(a) <strong>obrigatório</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <mat-label style="margin-right: 20px">Participação em:
                </mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="participacao">
                  <mat-radio-button value="DISCIPLINA">Disciplina</mat-radio-button>
                  <mat-radio-button value="COORDENACAO">Coordenação</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="row" style="margin-top: 5px">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Disciplina de participação</mat-label>
                    <input matInput placeholder="Disciplina" formControlName="disciplina" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Carga horária total de aulas ministradas</mat-label>
                    <input matInput maxlength="5" min="1" placeholder="Carga horária total" type="number"
                      formControlName="totalHorasMinistradas" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Horas semanais dedicadas (aulas + preparação e outras
                      atividades)</mat-label>
                    <input matInput maxlength="5" min="1" placeholder="Carga horária semanal" type="number"
                      formControlName="horaSemanal" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Horas mensais dedicadas (aulas + preparação e outras
                      atividades)</mat-label>
                    <input matInput maxlength="5" min="1" placeholder="Carga horária mensal" type="number"
                      formControlName="horaMensal" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Valor bruto por hora-aula (R$)</mat-label>
                    <input matInput maxlength="5" placeholder="Valor bruto hora-aula" type="number"
                      formControlName="valorBrutoHoraAula" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Valor bruto pelo total de aulas (R$)</mat-label>
                    <input matInput maxlength="5" placeholder="Valor bruto total aulas" type="number"
                      formControlName="valorBrutoTotalAula" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Valor bruto de outras atividades (R$)</mat-label>
                    <input matInput maxlength="5" placeholder="Valor bruto de outras atividades" type="number"
                      formControlName="valorBrutoOutraAtividade" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Data Inicio</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="dataInicio" placeholder="Selecionar data"
                      required />
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Data Fim</mat-label>
                    <input matInput [matDatepicker]="picker3" formControlName="dataFim" placeholder="Selecionar data"
                      required />
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

              <h3>Alocação</h3>
              <div class="alocacao-row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre" min="1" max="2" type="number" formControlName="semestre" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano" type="number" formControlName="ano" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas" type="number"
                      formControlName="horasSolicitadas" />
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra = !alocacaoExtra" *ngIf="!alocacaoExtra">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre1" min="1" max="2" type="number" formControlName="semestre1" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano1" type="number" formControlName="ano1" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas1" type="number"
                      formControlName="horasSolicitadas1" />
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra2 = !alocacaoExtra2" *ngIf="!alocacaoExtra2">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra = !alocacaoExtra">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra2">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre2" min="1" max="2" type="number" formControlName="semestre2" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano2" type="number" formControlName="ano2" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas2" type="number"
                      formControlName="horasSolicitadas2" />
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra3 = !alocacaoExtra3" *ngIf="!alocacaoExtra3">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra2 = !alocacaoExtra2">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra3">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre3" min="1" max="2" type="number" formControlName="semestre3" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano3" type="number" formControlName="ano3" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas3" type="number"
                      formControlName="horasSolicitadas3" />
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra4 = !alocacaoExtra4" *ngIf="!alocacaoExtra4">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra3 = !alocacaoExtra3">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra4">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre4" min="1" max="2" type="number" formControlName="semestre4" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano4" type="number" formControlName="ano4" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas4" type="number"
                      formControlName="horasSolicitadas4" />
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra5 = !alocacaoExtra5" *ngIf="!alocacaoExtra5">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra4 = !alocacaoExtra4">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra5">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre5" min="1" max="2" type="number" formControlName="semestre5" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano5" type="number" formControlName="ano5" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas5" type="number"
                      formControlName="horasSolicitadas5" />
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra5 = !alocacaoExtra5">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <h3>Observações</h3>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Incluir observação</mat-label>
                    <textarea matInput formControlName="observacao"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" style="margin-bottom: 20px;">
                <div class="col">
                  <mat-slide-toggle formControlName="urgente">Urgente</mat-slide-toggle>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label class="btn btn-default">
                    <input type="file" (change)="selecionarArquivo($event)" />
                  </label>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button [disabled]="!cursoForm.valid" mat-raised-button color="primary"
                (click)="submeterCurso(); cursoForm.reset()">
                Enviar
              </button>
            </mat-card-actions>
          </mat-card>
        </form>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title> Regência Concomitante </mat-panel-title>
          <mat-panel-description>
            Submeter atividades relacionadas a Regência Concomitante
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form name="form" [formGroup]="regenciaForm" #f="ngForm">
          <mat-card class="mat-elevation-z0">
            <mat-card-content>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nome do curso</mat-label>
                    <input matInput placeholder="Nome do curso" formControlName="curso" />
                    <mat-error *ngIf="
                        regenciaForm.controls['curso'].hasError('required')
                      ">
                      Nome do curso <strong>obrigatório</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Instituição de Ensino Vinculada</mat-label>
                    <input matInput placeholder="Instituição vinculada" formControlName="instituicao" />
                    <mat-error *ngIf="
                        regenciaForm.controls['instituicao'].hasError(
                          'required'
                        )
                      ">
                      Nome da instituição <strong>obrigatório</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Coordenador(a) </mat-label>
                    <input matInput placeholder="Coordenador(a)" formControlName="coordenador" />
                    <mat-error *ngIf="
                        regenciaForm.controls['coordenador'].hasError(
                          'required'
                        )
                      ">
                      Nome do coordenador(a) <strong>obrigatório</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <mat-label style="margin-right: 20px">Nível: </mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="nivel">
                  <mat-radio-button value="GRADUACAO">Graduação</mat-radio-button>
                  <mat-radio-button value="POS_GRADUACAO">Pós-Graduação</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="row">
                <mat-label style="margin-right: 20px">Será o responsável pela disciplina:
                </mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="responsavel">
                  <mat-radio-button [value]="true">Sim</mat-radio-button>
                  <mat-radio-button [value]="false">Não</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="row">
                <mat-label style="margin-right: 20px">Será o único docente da disciplina:
                </mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="unicoDocente">
                  <mat-radio-button [value]="true">Sim</mat-radio-button>
                  <mat-radio-button [value]="false">Não</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="row" style="margin-top: 5px">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Disciplina de participação</mat-label>
                    <input matInput placeholder="Disciplina" formControlName="disciplinaParticipacao" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Carga horária total de aulas ministradas</mat-label>
                    <input matInput maxlength="5" min="1" placeholder="Carga horária total" type="number"
                      formControlName="cargaHoraTotalMinistrada" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Horas semanais dedicadas (aulas + preparação e outras
                      atividades)</mat-label>
                    <input matInput maxlength="5" min="1" placeholder="Carga horária semanal" type="number"
                      formControlName="horaSemanal" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Horas mensais dedicadas (aulas + preparação e outras
                      atividades)</mat-label>
                    <input matInput maxlength="5" min="1" placeholder="Carga horária mensal" type="number"
                      formControlName="horaMensal" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Valor bruto por hora-aula (R$)</mat-label>
                    <input matInput maxlength="5" placeholder="Valor bruto hora-aula" type="number"
                      formControlName="valorBrutoHoraAula" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Valor bruto pelo total de aulas (R$)</mat-label>
                    <input matInput maxlength="5" placeholder="Valor bruto total aulas" type="number"
                      formControlName="valorBrutoTotalAula" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Valor bruto de outras atividades (R$)</mat-label>
                    <input matInput maxlength="5" placeholder="Valor bruto de outras atividades" type="number"
                      formControlName="valorBrutoOutraAtividade" />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Data Inicio</mat-label>
                    <input matInput [matDatepicker]="picker4" formControlName="dataInicio" placeholder="Selecionar data"
                      required />
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Data Fim</mat-label>
                    <input matInput [matDatepicker]="picker5" formControlName="dataFim" placeholder="Selecionar data"
                      required />
                    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                    <mat-datepicker #picker5></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Incluir observação</mat-label>
                    <textarea matInput formControlName="observacao"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Dias Trabalhados Unicamp</mat-label>
                    <input matInput placeholder="Dias Trabalhados Unicamp" formControlName="diasTrabalhadosUnicamp" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Dias trabalhados em outra instituicao</mat-label>
                    <input matInput placeholder="Dias trabalhados em outra instituicao"
                      formControlName="diasTrabalhadosOutraInstituicao" />
                  </mat-form-field>
                </div>
              </div>

              <h3>Alocação</h3>
              <div class="alocacao-row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre" min="1" max="2" type="number" formControlName="semestre" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano" type="number" formControlName="ano" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas" type="number"
                      formControlName="horasSolicitadas" />
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra = !alocacaoExtra" *ngIf="!alocacaoExtra">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre1" min="1" max="2" type="number" formControlName="semestre1" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano1" type="number" formControlName="ano1" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas1" type="number"
                      formControlName="horasSolicitadas1" />
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra2 = !alocacaoExtra2" *ngIf="!alocacaoExtra2">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra = !alocacaoExtra">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra2">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre2" min="1" max="2" type="number" formControlName="semestre2" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano2" type="number" formControlName="ano2" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas2" type="number"
                      formControlName="horasSolicitadas2" />
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra3 = !alocacaoExtra3" *ngIf="!alocacaoExtra3">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra2 = !alocacaoExtra2">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra3">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre3" min="1" max="2" type="number" formControlName="semestre3" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano3" type="number" formControlName="ano3" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas3" type="number"
                      formControlName="horasSolicitadas3" />
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra4 = !alocacaoExtra4" *ngIf="!alocacaoExtra4">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra3 = !alocacaoExtra3">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra4">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre4" min="1" max="2" type="number" formControlName="semestre4" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano4" type="number" formControlName="ano4" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas4" type="number"
                      formControlName="horasSolicitadas4" />
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button (click)="alocacaoExtra5 = !alocacaoExtra5" *ngIf="!alocacaoExtra5">
                    <mat-icon>add_circle</mat-icon>
                  </button>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra4 = !alocacaoExtra4">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div class="row" *ngIf="alocacaoExtra5">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Semestre</mat-label>
                    <input matInput placeholder="semestre5" min="1" max="2" type="number" formControlName="semestre5" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input matInput min="1" placeholder="ano5" type="number" formControlName="ano5" />
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" style="width: 80%; margin-right: 5px;" appearance="outline">
                    <mat-label>Horas</mat-label>
                    <input matInput min="1" placeholder="horasSolicitadas5" type="number"
                      formControlName="horasSolicitadas5" />
                  </mat-form-field>
                  <button mat-button type="button" mat-icon-button aria-label="Clear"
                    (click)="alocacaoExtra5 = !alocacaoExtra5">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                </div>
              </div>


              <h3>Observações</h3>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Incluir observação</mat-label>
                    <textarea matInput formControlName="observacao"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row" style="margin-bottom: 20px;">
                <div class="col">
                  <mat-slide-toggle formControlName="urgente">Urgente</mat-slide-toggle>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label class="btn btn-default">
                    <input type="file" (change)="selecionarArquivo($event)" />
                  </label>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button [disabled]="!regenciaForm.valid" mat-raised-button color="primary"
                (click)="submeterRegencia(); regenciaForm.reset()">
                Enviar
              </button>
            </mat-card-actions>
          </mat-card>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>