<div class="grid-container">
  <h1 class="mat-h1">Criar atividade</h1>
  <mat-card class="shipping-card">
    <mat-accordion class="expand">
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Convênios
          </mat-panel-title>
          <mat-panel-description>
            Submeter atividades de convênios
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form name="form" [formGroup]="convenioForm" #f="ngForm">
          <mat-card class="mat-elevation-z0">
            <mat-card-content>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Titulo do Projeto</mat-label>
                    <input matInput placeholder="Titulo do Projeto" formControlName="projeto">
                    <mat-error *ngIf="convenioForm.controls['projeto'].hasError('required')">
                      Nome ou titulo do projeto <strong>obrigatório</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Instituição de Ensino</mat-label>
                    <input matInput placeholder="Instituição de Ensino" formControlName="instituicao">
                    <mat-error *ngIf="convenioForm.controls['instituicao'].hasError('required')">
                      Nome da instituição <strong>obrigatório</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Coordenador(a) </mat-label>
                    <input matInput placeholder="Coordenador(a)" formControlName="coordenador">
                    <mat-error *ngIf="convenioForm.controls['coordenador'].hasError('required')">
                      Nome do coordenador(a) <strong>obrigatório</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Descrição</mat-label>
                    <input matInput placeholder="A participação no projeto consistirá de..."
                      formControlName="descricao">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Data Inicio</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dataInicio" placeholder="Selecionar data" 
                      required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Data Fim</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="dataFim" placeholder="Selecionar data"
                      required>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
                
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Valor bruto (R$)</mat-label>
                    <input matInput #postalCode maxlength="5" placeholder="Valor bruto" type="number"
                      formControlName="valorBruto">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Qtd Horas semanais</mat-label>
                    <input matInput #postalCode maxlength="5" min="1" placeholder="Carga horária semanal" type="number"
                      formControlName="horaSemanal">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Qtd Horas mensais</mat-label>
                    <input matInput #postalCode maxlength="5" min="1" placeholder="Carga horária mensal" type="number"
                      formControlName="horaMensal">
                  </mat-form-field>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button [disabled]="!convenioForm.valid" mat-raised-button color="primary"
                (click)="submeterConvenio(form)">Enviar</button>
            </mat-card-actions>
          </mat-card>
        </form>
      </mat-expansion-panel>


      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Cursos
          </mat-panel-title>
          <mat-panel-description>
            Submeter atividades relacionadas ao cursos de extensão universitária
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form name="form" [formGroup]="cursoForm" #f="ngForm">
          <mat-card class="mat-elevation-z0">
            <mat-card-content>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nome do curso</mat-label>
                    <input matInput placeholder="Nome do curso" formControlName="nomeCurso">
                    <mat-error *ngIf="cursoForm.controls['nomeCurso'].hasError('required')">
                      Nome do curso <strong>obrigatório</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Instituição de Ensino</mat-label>
                    <input matInput placeholder="Instituição vinculada" formControlName="instituicao">
                    <mat-error *ngIf="cursoForm.controls['instituicao'].hasError('required')">
                      Nome da instituição <strong>obrigatório</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Coordenador(a) </mat-label>
                    <input matInput placeholder="Coordenador(a)" formControlName="coordenador">
                    <mat-error *ngIf="cursoForm.controls['coordenador'].hasError('required')">
                      Nome do coordenador(a) <strong>obrigatório</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <mat-label style="margin-right: 20px;">Participação em: </mat-label>
                <mat-radio-group aria-label="Select an option" formControlName="participacao">
                  <mat-radio-button value="DISCIPLINA">Disciplina</mat-radio-button>
                  <mat-radio-button value="COORDENAÇÃO">Coordenação</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="row" style="margin-top: 5px;">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Disciplina de participação</mat-label>
                    <input matInput placeholder="Disciplina" formControlName="disciplina">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Carga horária total de aulas ministradas</mat-label>
                    <input matInput #postalCode maxlength="5" min="1" placeholder="Carga horária total" type="number"
                      formControlName="totalHorasMinistradas">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Horas semanais dedicadas (aulas + preparação e outras atividades)</mat-label>
                    <input matInput #postalCode maxlength="5" min="1" placeholder="Carga horária semanal" type="number"
                      formControlName="horaSemanal">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Horas mensais dedicadas (aulas + preparação e outras atividades)</mat-label>
                    <input matInput #postalCode maxlength="5" min="1" placeholder="Carga horária mensal" type="number"
                      formControlName="horaMensal">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Valor bruto por hora-aula (R$)</mat-label>
                    <input matInput #postalCode maxlength="5" placeholder="Valor bruto hora-aula" type="number"
                      formControlName="valorBrutoHoraAula">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Valor bruto pelo total de aulas (R$)</mat-label>
                    <input matInput #postalCode maxlength="5" placeholder="Valor bruto total aulas" type="number"
                      formControlName="valorBrutoTotalAula">
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Valor bruto de outras atividades (R$)</mat-label>
                    <input matInput #postalCode maxlength="5" placeholder="Valor bruto de outras atividades" type="number"
                      formControlName="valorBrutoOutraAtividade">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Data Inicio</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="dataInicio" placeholder="Selecionar data" 
                      required>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Data Fim</mat-label>
                    <input matInput [matDatepicker]="picker3" formControlName="dataFim" placeholder="Selecionar data"
                      required>
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button [disabled]="!cursoForm.valid" mat-raised-button color="primary"
                (click)="submeterCurso(form)">Enviar</button>
            </mat-card-actions>
          </mat-card>
        </form>
      </mat-expansion-panel>


      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Regência Concomitante (Em desenvolvimento)
          </mat-panel-title>
          <mat-panel-description>
            Submeter atividades relacionadas a regência concomitante
          </mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]="regenciaForm">
          <mat-card class="mat-elevation-z0">
            <mat-card-content>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Company" formControlName="company">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="First name" formControlName="firstName">
                    <mat-error *ngIf="regenciaForm.controls['firstName'].hasError('required')">
                      First name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Last name" formControlName="lastName">
                    <mat-error *ngIf="regenciaForm.controls['lastName'].hasError('required')">
                      Last name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <textarea matInput placeholder="Address" formControlName="address"></textarea>
                    <mat-error *ngIf="regenciaForm.controls['address'].hasError('required')">
                      Address is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="City" formControlName="city">
                    <mat-error *ngIf="regenciaForm.controls['city'].hasError('required')">
                      City is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <input matInput #postalCode maxlength="5" placeholder="Postal Code" type="number"
                      formControlName="postalCode">
                    <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-radio-group formControlName="shipping">
                    <mat-radio-button value="free">Free Shipping</mat-radio-button>
                    <mat-radio-button value="priority">Priority Shipping</mat-radio-button>
                    <mat-radio-button value="nextday">Next Day Shipping</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" type="submit">Submit</button>
            </mat-card-actions>
          </mat-card>
        </form>
      </mat-expansion-panel>

    </mat-accordion>
  </mat-card>
</div>