<div class="grid-container">
    <h1 mat-dialog-title>
        <button mat-button (click)="voltar()">
            <mat-icon aria-hidden="false" aria-label="edit icon">keyboard_backspace</mat-icon>
        </button>
        Solicitação de Atividade #{{ atividade.id }} - Convênios
    </h1>
    <form name="form" [formGroup]="convenioForm">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Título do Projeto</mat-label>
                    <input [(ngModel)]="atividade.projeto" formControlName="projeto" matInput placeholder="Projeto" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Hora Semanal</mat-label>
                    <input [(ngModel)]="atividade.horaSemanal" formControlName="horaSemanal" matInput
                        placeholder="Hora Semanal" />
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Hora Mensal</mat-label>
                    <input [(ngModel)]="atividade.horaMensal" formControlName="horaMensal" matInput
                        placeholder="Hora Mensal" />
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Duração (meses)</mat-label>
                    <input [(ngModel)]="atividade.prazo" formControlName="prazo" matInput placeholder="Prazo" />
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Valor Bruto (R$)</mat-label>
                    <input [(ngModel)]="atividade.valorBruto" formControlName="valor" matInput
                        placeholder="Valor Bruto (R$)" />
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Data Inicio</mat-label>
                    <input matInput [(ngModel)]="atividade.dataInicio" formControlName="dataInicio"
                        placeholder="dd/MM/yyyy" />
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Data Fim</mat-label>
                    <input matInput [(ngModel)]="atividade.dataFim" formControlName="dataFim"
                        placeholder="dd/MM/yyyy" />
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Descrição</mat-label>
                    <input [(ngModel)]="atividade.descricao" formControlName="descricao" matInput
                        placeholder="Descrição" />
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Instituição</mat-label>
                    <input matInput [(ngModel)]="atividade.instituicao" formControlName="instituicao"
                        placeholder="instituicao" />
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Data Fim</mat-label>
                    <input matInput formControlName="dataFim" placeholder="dd/MM/yyyy" />
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <mat-label style="margin-right: 20px;">Participação em: </mat-label>
            <mat-radio-group [(ngModel)]="atividade.tipoAtividadeSimultanea" aria-label="Select an option"
                formControlName="tipoAtividadeSimultanea">
                <mat-radio-button value="PESQUISA">Pesquisa</mat-radio-button>
                <mat-radio-button value="ENSINO">Ensino</mat-radio-button>
                <mat-radio-button value="EXTENSAO">Extensão</mat-radio-button>
            </mat-radio-group>
        </div>

        <h1 mat-dialog-title>Docente</h1>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Nome</mat-label>
                    <input matInput [(ngModel)]="atividade.docente" formControlName="docente" placeholder="Nome Docente"
                        readonly />
                </mat-form-field>
            </div>
        </div>
        <h1 mat-dialog-title>Observações</h1>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Comentário docente</mat-label>
                    <textarea matInput [(ngModel)]="atividade.observacao" formControlName="observacao"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Itens a revisar</mat-label>
                    <textarea matInput [(ngModel)]="atividade.revisao" formControlName="revisao" readonly></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row" *ngIf="(fileInfos$ | async)?.length > 0;">
            <div class="col">
                <div class="card">
                    <h1 mat-dialog-title>Anexos</h1>
                    <ul class="list-group list-group-flush" *ngFor="let file of fileInfos$ | async">
                        <li class="list-group-item">
                            {{ file.nome }} <button mat-button (click)="downloadArquivo(file, atividade)" *ngIf="admin">
                                <mat-icon aria-hidden="false" aria-label="download">download</mat-icon>
                            </button>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div mat-dialog-actions style="float: right">
                    <button [disabled]="atividade.autorizado || !convenioForm.valid" mat-button
                        (click)="openConfirmationDialog(atividade, 'Deseja atualizar os dados da atividade?', true)">
                        <mat-icon aria-hidden="false" aria-label="edit icon">update</mat-icon>
                        Atualizar
                    </button>
                    <button [disabled]="atividade.autorizado" mat-button
                        (click)="openConfirmationDialog(atividade, 'Deseja confirmar autorização?', true)"
                        *ngIf="admin">
                        <mat-icon aria-hidden="false" aria-label="edit icon">check</mat-icon>
                        Aceitar
                    </button>
                    <button mat-button (click)="devolverAtividade(atividade.id)" color="warn" *ngIf="admin">
                        <mat-icon aria-hidden="false" aria-label="edit icon">cancel</mat-icon>
                        Devolver
                    </button>
                    <button mat-button (click)="extrairRelatorioPDF(atividade)" *ngIf="admin">
                        <mat-icon aria-hidden="false" aria-label="edit icon">save</mat-icon>
                        PDF
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>