<div class="grid-container">
    <h1 mat-dialog-title>
        Dados do usuário
    </h1>
    <form name="form" [formGroup]="userForm">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Nome Completo</mat-label>
                    <input [(ngModel)]="usuario.nome" formControlName="nome" matInput placeholder="Nome" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Matricula</mat-label>
                    <input [(ngModel)]="usuario.matricula" formControlName="matricula" matInput placeholder="Matricula"
                        readonly />
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Email</mat-label>
                    <input [(ngModel)]="usuario.email" formControlName="email" matInput placeholder="Email" readonly />
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Telefone</mat-label>
                    <input [(ngModel)]="usuario.telefone" formControlName="telefone" matInput placeholder="Telefone" />
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Título</mat-label>
                    <mat-select [(ngModel)]="usuario.titulo" formControlName="titulo">
                        <mat-option value="Nenhum">Nenhum</mat-option>
                        <mat-option value="MS-3.1">MS-3.1</mat-option>
                        <mat-option value="MS-3.2">MS-3.2</mat-option>
                        <mat-option value="MS-5.1">MS-5.1</mat-option>
                        <mat-option value="MS-5.2">MS-5.2</mat-option>
                        <mat-option value="MS-5.3">MS-5.3</mat-option>
                        <mat-option value="MS-6">MS-6</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Endereço</mat-label>
                    <input [(ngModel)]="usuario.endereco" formControlName="endereco" matInput placeholder="Endereco" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div mat-dialog-actions>
                    <button mat-raised-button color="warn" (click)="alterarDadosDocente(); senhaForm.reset()">
                        <mat-icon aria-hidden="false" aria-label="edit icon">check</mat-icon>
                        Atualizar dados
                    </button>
                </div>
            </div>
        </div>
    </form>

    <br />
    <hr>

    <h1 mat-dialog-title>Alterar senha</h1>
    <form name="form" [formGroup]="senhaForm">

        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Senha atual</mat-label>
                    <input matInput type="password" [(ngModel)]="senhaModel.senhaAtual" formControlName="oldPassword"
                        placeholder="Senha atual" />
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Nova senha</mat-label>
                    <input matInput type="password" [(ngModel)]="senhaModel.senha" formControlName="senha"
                        placeholder="Senha nova" />
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Confirmar nova senha</mat-label>
                    <input matInput type="password" formControlName="senhaConfirmacao" placeholder="Confirmacao de senha" />
                    <mat-error *ngIf="senhaForm.controls.senhaConfirmacao.errors?.equalTo">
                        Erro ao confirmar senha
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div mat-dialog-actions>
                    <button [disabled]="!senhaForm.valid" mat-raised-button color="warn" (click)="alterarSenha(); senhaForm.reset()">
                        <mat-icon aria-hidden="false" aria-label="edit icon">check</mat-icon>
                        Atualizar senha
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>